<%- include("../partials/header") %>


    <div class="container marketing" style="padding-top:50px;" >

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD" alt="Generic placeholder image" alt="Generic placeholder image" width="140" height="140">
          <h3>AISHWARYA MAURYA</h3>
          <p>contact no.-</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD" alt="Generic placeholder image" alt="Generic placeholder image" width="140" height="140">
          <h3>KVL VARMA</h3>
          <p>contact no.-</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD" alt="Generic placeholder image" alt="Generic placeholder image" width="140" height="140">
          <h3>MAIHUL RAJORA</h3>
          <p>contact no.-</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="padding-top:30px;" >
          <img class="img-circle" src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD" alt="Generic placeholder image" alt="Generic placeholder image" width="140" height="140">
          <h3>MANSI RATHOD</h3>
          <p>contact no.-</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="padding-top:30px;">
          <img class="img-circle" src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/fertilizer-shutterstock_1087283084.jpg?itok=H85ZhFRD" alt="Generic placeholder image" alt="Generic placeholder image" width="140" height="140">
          <h3>SHIVAM NARWARE</h3>
          <p>contact no.-</p>
        </div><!-- /.col-lg-4 -->
        
        
      </div><!-- /.row -->
</div>



<%- include("../partials/footer") %>