<%- include("partials/header") %>
<div class="ui main text container segment">
<form action="/login" method="POST">
    <h3 class="ui center aligned header">
    Login Page
    </h3>
<div class="ui equal width form">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username" name="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
  </div>
   <button  class="ui blue basic button">Submit</button>
</div>
</form>
</div>
<%- include("partials/footer") %>