<%- include("../partials/header") %>

<body style="background-image: url(https://www.itl.cat/pngfile/big/50-506089_hd-desktop-farming-wallpapers-hd-farming.jpg) ; background-repeat: no-repeat; background-size: cover; ">
    <div style="text-align:center;padding-top: 275px">
        <a  href="http://127.0.0.1:5000/crop" class="ui blue label"  >ADD THE INFORMATION FOR CROPTYPE</a>
    </div>


<%- include("../partials/footer") %>