<%- include("../partials/header") %>

<!--<div class="ui main text container segment">-->
 <body style="background-image: url(https://www.itl.cat/pngfile/big/50-506089_hd-desktop-farming-wallpapers-hd-farming.jpg) ; background-repeat: no-repeat; background-size: cover; ">
     
 
    
<div style="text-align:center;">
     <button class="ui massive orange button" >ABOUT</button
 </div>
 <div class="ui main text container segment">
  
  <h1>Who we are</h1>
  <p style="margin-bottom: 20px">We’re farmers first and innovators second. We started in 1965, in the Negev desert in Israel, trying to grow crops in desert soil. So we know what it’s like to farm in extreme conditions. That struggle taught us how to combine precision irrigation, agronomic expertise and relentless innovation to help farmers grow more of any crop, in any climate, with less.</p>
  <h1>Our Backbone</h1> 
  <h5>Purpose</h5>
  <p>Helping the world grow more with less™</p>
  <h5>Vision</h5>
  <p>As the world’s leading irrigation company we will drive mass adoption of smart irrigation solutions to fight scarcity of food,
water and land.</p>
  <h5>Our values</h5>
<p>Dare,Make it Happen,Create an Impact ,Partner for Success</p>
<h1>Our people</h1>
<p>Our people are everything to our business. They share a common bond with our growers, helping to bridge diverse geographies, languages and cultures with a commitment to growth.</p>
<h1>Let’s grow together</h1>
<p>We’re looking for people who dare to make an impact, feel inspired by our united purpose to help the world grow more with less™ and can make things happen, in a collaborative and partnership manner.

That’s what guide us in achieving our vision to fight scarcity of water, food and land.

If that sounds like you, then drop us a line and let’s grow together.

Join us!</p>
  </div> 
</div>




<%- include("../partials/footer") %>