<!DOCTYPE html>
<html>
<head>
   <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  
</head>
<body>
 <!-- NAVBAR
================================================== -->
  <body>
    <!--<div class="navbar-wrapper">-->
      <!--<div class="container" >-->

        <nav class="navbar navbar-inverse navbar-static-top" style="background-color:#08041A; font-weight:700;color:#ffffff;" >
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Technofarmacists</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="/home">Home</a></li>
                <li><a href="/home/about">About</a></li>
                <li><a href="/home/contact">Contact</a></li>
               <li><a href="/home/comments">Question You May ask</a></li>
  
              </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding-right: 25px">
                   <% if(!currentUser){ %>
                        <li> <a href='/login'>Login</a></li>
                        <li> <a href='/register'>Sign Up</a></li>
                  <%  } else { %>    
                        <li><a href="#">Signed in as: <%=currentUser.username%></a></li>
                        <li> <a href='/logout'>Logout</a></li>
                  <%  } %>
               </ul>
            </div>
                <div class="collapse navbar-collapse" id="bs-nav-demo">

    </div><!-- /.navbar-collapse -->
          </div>
        </nav>
      <!--</div>-->
    <!--</div>-->





